<DOCTYPE! html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<style type="text/css">
	body {
	  margin: 0;
	  padding: 0;
	background-color: #D9DDE0;
	  font-family: 'Open Sans', sans-serif;
	}
	#logo {
		width: 30%;
		position: absolute;
		clip: rect(0px,500px,200px,0px);
		text-align: right;
		float: top right;
		margin-top: 0;
		padding-top: 0;
		margin-left: 10;
	}
	#login {
		text-align: center;
		font-family: 'Roboto Slab', serif;
		margin-left: 1200;
		margin-right: 0;
		padding: 20;
		padding-left: 35;
		padding-right: 35;
		background-color: #38B0DE;
		position: absolute;
		text-decoration: none;
		color: white;
		font-size: 20;
	}
	.sectionone {
		font-family: 'Times New Roman';
		text-align: left;
		font-size: 25;
		font-weight: lighter;
		background-image: url("https://docs.google.com/drawings/d/1556N88MmUiaWQxz-px7phbUMSQldAhhyvqTPtkMeolw/pub?w=960&h=720");
		background-size: cover;
		position: fixed;
		height: 1000px;
		position: static;
		width: 100%;
		font-color: #666666;
		background-color: #D9DDE0; 
	}
	.definition {
		margin-left: 40;
	}
	#word {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 45;
		color: #1F1923;
	}
	#pronunciation {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #1F1923;
	}
	#PoS {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #1F1923;
	}
	#def {
		font-family: 'Times New Roman';
		font-size: 25;
		font-weight: lighter;
		color: #1F1923;
	}
	section #about_us {
		background-color: white;
		width: 100%;
		height: 20%;
	}

	#word1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		font-size: 45;
		color: #666666;
	}

	#word2 {
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		font-size: 45;
		color: #666666;

	}
	#word3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		font-size: 45;
		color: #666666;

	}
	.sectiontwo {
		font-family: 'Open Sans', sans-serif;
		font-size: 25;
		font-weight: lighter;
		background-color: #D9DDE0;
		padding: 0;
		height: 300;
		position: static;
		text-align: justify;
		width: 98%;
		margin: 10;
		color: #666666;
	}
	.sectionfour {
		text-align: justify;
		font-family: 'Open Sans', sans-serif;
		font-size: 25;
		font-weight: lighter;
		background-color: #D9DDE0;
		padding: 0;
		height: 300;
		margin: 10;
		width: 98%;
		color: #666666
		}
	.signup {
		text-align: center;
		font-family: 'Roboto Slab', serif;
		position: absolute;
		font-size: 20;	
		margin-top: 125;	
	}
	#employee {
		margin-left: 300;
		margin-right: 150;
		text-decoration: none;
		color: white;
		background-color: #38B0DE;
		text-align: center;
		padding: 40;
		padding-left: 40;
		padding-right: 40;
		font-size: 25;
	}
	#employer {
		margin-right: 1600;
		margin-right: 50;
		margin-left: 40;
		text-decoration: none;
		color: white;
		background-color: #38B0DE;
		text-align: center;
		padding: 40;
		padding-left: 40;
		padding-right: 40;
		font-size: 25;
	}
	#login:hover {
    background: #2D8DB2;
    border-color: #2D8DB2;
	}
	#employee:hover {
    background: #2D8DB2;
    border-color: #2D8DB2;
	}	
	#employer:hover {
	    background: #2D8DB2;
	    border-color: #2D8DB2;
	}
	</style>
</head>
<body>
	<header>		
		<img src="https://docs.google.com/drawings/d/1rYnmnuFee8lgQFIMWPulQpLdB204fm1ayZDZ2FkZo5o/pub?w=1440&amp;h=1080" id="logo">
		<a href="login.html" id="login"> Login</a>	
	</header>
	<section>
		<div class="sectionone">
			<div class="definition">
				<p><a id="word"><br><br><br><br><br><br><br><br><br><br>ampla&#183;fy </a><br><a id="pronunciation"><em id="PoS">n.</em> [am-pluh-fahy] </a><br><a id="def"> ampla is Latin for "opportunity" 'fy' is an ancronym for "For Youth"<a></p>
			</div>
			<div class="signup">
			<a href="employee sign up.html" id="employee">I'm looking for a job!</a>
			<a href="employer sign up.html" id="employer">I need an employee!</a>
		</div>
		</div>
	</section>
	<section id="about_us">
		<div class = "sectiontwo">
		<p><a id = "word1"> About us </a><br> We are revolutionizing the way young adults find jobs. With our product, the youth will no longer need to go store to store asking for job applications, wait to see a 'Hiring' sign at a local store, or ask a friend to get them a job at their work. Because from the convenience of their phones, they can actively search for the perfect job opportunity for them. And anyone looking to hire can be able to get the word out to young job-searchers, whether it's a couple looking for a weekly babysitter for date-night, or the YMCA looking for new swim instructors.</p>

	</div>


	</section>
	<section id = "purpose">
		<div class = "sectionfour">
		<p><a id = "word3"> Purpose </a><br> The typical job for young adults is working at fast food chain. How is anyone able to reach their full potential with that? But, teens today are more likely to apply there because it's an easy job to get. They don't know about all the opportunities around them. Every person on this team got their job through a connection. Not everyone is lucky enough to have that. This app will be that connection. We also want employers who are actively searching for passionate young adults to bring into their work environment. amplafy is a new, different way to network around your area, whether it&#39;s a full-time receptionist job, or an opportunity to build a website for a fresh startup. </p>
	</section>
	</div>

</body>
</html>